extends layout
block content
    div.container
        div.row.row-offcanvas.row-offcanvas-right
            div#mainbar.col-xs-12.col-sm-12.col-md-12.col-lg-12
                div#newpiropo 
                    div.header
                        div.new(ng-controller="crearPiroposController" )
                            a.activate( ng-click="mostrarCreacion($event)")
                              i.fa.fa-fw.fa-plus-square-o
                            a.save.pull-right.ocultado.animated(show-me="{{estaMostradoBtn}}" ng-click="guardarPiropo($event)")
                              i.fa.fa-fw.fa-save
                            div.aNewOne.form.form-group-lg.animated.ocultado(show-me="{{estaMostrado}}" ng-form="inputPiropoForm")
                                div.form-group
                                  div.col-sm-12
                                    label.sr-only.control-label(for='entername')
                                    input.form-control.entername.validable(name='entername', type='text', placeholder='Tu nombre' ng-model="entername" ng-required="true" ng-minlength="3")
                                    span.help-block.error(ng-show="inputPiropoForm.entername.minlength") El nombre ingresado es demasiado corto :(
                                div.form-group
                                  div.col-sm-12
                                    label.sr-only.control-label(for='enterpiropo')
                                    textarea.form-control.enterpiropo.validable(name='enterpiropo', placeholder='Tu piropo', rows='4' ng-model="enterpiropo" ng-required="true"  ng-minlength="3")
                                    span.help-block.error(ng-show="inputPiropoForm.enterpiropo.minlength") No has ingresado un piropo :(
                #piropos(ng-view)
                    
                hr
                footer
                p
                    a(href="http://twitter.com/fforres") @fforres - 2014 
            //#sidebar.col-xs-6.col-sm-6.col-md-6.col-lg-4.sidebar-offcanvas(role='navigation')
                