extends layout

block content
    .container
      #piropos
        .row.row-offcanvas.row-offcanvas-right
          #mainbar.col-xs-12.col-sm-12.col-md-12.col-lg-9
            .info
              .header
                .new
                  a(href="#crearPiropo")
                    i.fa.fa-fw.fa-plus-square-o 


              .body.container-xs-height
            .loader
              h1 Cargando ... 
              i.fa.fa-fw.fa-spinner.fa-spin 
            .error
              h1 Lo siento! 
              i.fa.fa-fw.fa-meh-o
            
          #sidebar.col-xs-6.col-sm-6.col-md-6.col-lg-3.sidebar-offcanvas(role='navigation')
            .list-group
              a.list-group-item.active(href='#') Link
              a.list-group-item(href='#') Link
              a.list-group-item(href='#') Link
              a.list-group-item(href='#') Link
              a.list-group-item(href='#') Link
              a.list-group-item(href='#') Link
              a.list-group-item(href='#') Link
              a.list-group-item(href='#') Link
              a.list-group-item(href='#') Link
              a.list-group-item(href='#') Link
          //
            /.sidebar-offcanvas
        //
          /row
        hr
        footer
          p © Company 2014