doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/offcanvas.css')
		link(rel='stylesheet', href='/3rdparty/bootstrap/bootstrap.min.css')
		link(rel='stylesheet', href='/3rdparty/bootstrap/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/3rdparty/fontawesome/font-awesome.min.css')

	body
		include navbar
		block content
	
	footer
		script(src='/javascripts/jquery-2.1.1.min.js')
		script(src='/3rdparty/bootstrap/bootstrap.min.js')
		script(src='/javascripts/offcanvas.js')
		script(src='/javascripts/ie10-viewport-bug-workaround.js')
		script(src='/javascripts/piropos.js')

