.todo(ng-controller="seccionesController")
  ul
    li
      .todo-content
        h4.todo-name
          | Meet
          strong  Adrian
          | at
          strong 6pm
        | Times Square
    li
      .todo-content
        h4.todo-name
          | Chat with
          strong V.Kudinov
        | Skype conference an 9 am
    li
      .todo-content
        h4.todo-name
          | Watch
          strong Iron Man
        | 1998 Broadway
    li
      .todo-content
        h4.todo-name
          | Fix bug on a
          strong Website
        | As soon as possible